<!DOCTYPE html>
<html>

<head>
    <title>STAT101</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='timetest.css') }}" />

    <style>
      a { text-decoration: none; }
    </style>

</head>

<table>
    <tr>
      <th>Company</th>
      <th>Contact</th>
      <th>Country</th>
    </tr>
    <tr>
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
      <td>Germany</td>
    </tr>
    <tr>
      <td>Centro comercial Moctezuma</td>
      <td>Francisco Chang</td>
      <td>Mexico</td>
    </tr>
  </table>